{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10">
  <!-- 헤더 -->
  {% include 'ddokfarm/components/_header.html' %}

  <!-- 카테고리 선택 -->
  {% include 'components/post_form/_category_buttons.html' %}

  <!-- 작성 폼 -->
  <div class="flex justify-center">
    <form method="post" enctype="multipart/form-data" id="edit-form"
          class="w-full max-w-2xl bg-white p-6 rounded-xl shadow-lg">
      {% csrf_token %}
      {% include 'components/post_form/_form_base.html' %}
    </form>
  </div>
</div>

<script>
  window.ajaxBaseUrl = "{{ ajax_base_url }}";
  window.selectedMemberIds = {{ selected_member_ids|default:"[]"|safe }};
</script>
<script src="{% static 'js/post_form.js' %}"></script>

{% endblock %}