{% extends 'base.html' %}

{% block body %}
    <h3>{{post.title}}</h3>
    <p> 
        <a href="{% url 'ddokfarm:update' post.id %}">update</a>
        <a href="{% url 'ddokfarm:delete' post.id %}">delete</a>
        <a href="{% url 'accounts:profile' post.user.username %}">{{post.user.username}}</a>
    </p>


    <img src="{{post.image.url}}" alt="">
    <p>{{post.content}}</p>

    <form action="{% url 'ddokfarm:comment_create' post.id %}" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit">
    </form>

    <hr> 

    {% for comment in comments %}
        <li>{{comment.content}}</li>
        <a href="{% url 'ddokfarm:comment_delete' post.id comment.id %}">delete</a>
    {% endfor %}

{% endblock %}