<!-- ddokdam/templates/ddokdam/components/_community_section_ui.html -->
<div class="space-y-4">
  <div>
    <label for="id_title" class="block text-sm font-medium text-gray-700">제목</label>
    {{ form.title }}
  </div>
  <div>
    <label for="id_image" class="block text-sm font-medium text-gray-700">이미지</label>
    {{ form.image }}
  </div>
  <div>
    <label for="id_content" class="block text-sm font-medium text-gray-700">내용</label>
    {{ form.content }}
  </div>
  <div>
    <label for="id_idol" class="block text-sm font-medium text-gray-700">아이돌 선택</label>
    {{ form.idol }}
  </div>
</div>
