<!-- ddokdam/templates/ddokdam/components/_food_section_ui.html -->
<div class="space-y-4">
  <div>
    <label for="id_title" class="block text-sm font-medium text-gray-700">제목</label>
    {{ form.title }}
  </div>
  <div>
    <label for="id_image" class="block text-sm font-medium text-gray-700">이미지</label>
    {{ form.image }}
  </div>
  <div>
    <label for="id_content" class="block text-sm font-medium text-gray-700">내용</label>
    {{ form.content }}
  </div>
  <div>
    <label for="id_location" class="block text-sm font-medium text-gray-700">식당/카페 이름</label>
    {{ form.location }}
  </div>
  <div>
    <label for="id_doll" class="block text-sm font-medium text-gray-700">인형 선택 (선택사항)</label>
    {{ form.doll }}
  </div>
</div>
