<!-- templates/ddokdam/components/create_form_ui.html -->

<div class="space-y-6">
  <!-- 제목 -->
  <div>
    <label for="id_title" class="block text-sm font-medium text-gray-700">제목</label>
    {{ form.title }}

  </div>

  <!-- 이미지 -->
  <div>
    <label for="id_image" class="block text-sm font-medium text-gray-700">이미지</label>
    {{ form.image }}

  </div>

  <!-- 카테고리 -->
  <div>
    <label for="id_category" class="block text-sm font-medium text-gray-700">카테고리</label>
    {{ form.category}}
  </div>

  <!-- 해시태그 -->
  <div>
    <label for="id_hashtags" class="block text-sm font-medium text-gray-700">해시태그</label>
    {{ form.hashtags }}
  </div>

  <!-- 아이돌 선택 -->
  {% if form.idol %}
  <div>
    <label for="id_idol" class="block text-sm font-medium text-gray-700">아이돌</label>
    {{ form.idol }}
  </div>
  {% endif %}

  <!-- 카페 정보 (카테고리별 조건 처리도 가능) -->
  {% if form.cafe_name %}
  <div>
    <label for="id_cafe_name" class="block text-sm font-medium text-gray-700">카페 이름</label>
    {{ form.cafe_name }}
  </div>
  {% endif %}
  
  {% if form.cafe_location %}
  <div>
    <label for="id_cafe_location" class="block text-sm font-medium text-gray-700">카페 위치</label>
    {{ form.cafe_location }}
  </div>
  {% endif %}

  {% if form.start_date and form.end_date %}
  <div class="flex gap-4">
    <div class="w-1/2">
      <label for="id_start_date" class="block text-sm font-medium text-gray-700">시작일</label>
      {{ form.start_date }}
    </div>
    <div class="w-1/2">
      <label for="id_end_date" class="block text-sm font-medium text-gray-700">종료일</label>
      {{ form.end_date }}
    </div>
  </div>
  {% endif %}

  <!-- 내용 -->
  <div>
    <label for="id_content" class="block text-sm font-medium text-gray-700">내용</label>
    {{ form.content }}
  </div>
</div>
